@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(240, 241, 243);
    height: 100%;
}

.active{
    transform: translateX(-100%)
}



#sidebar{
    background: #0a4ef5;
}

.main{
    position: absolute;
    right: 0;
    width: 84%;
}

.profile {
   float: left;
}

.navbar{
    height: 70px;
    background-color: rgb(246, 245, 245);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#subitem{
    left: 100%;
    color: white;
    width: 200px;
    padding: 10px;
    border-radius: 2px ;
    margin-left: 20px;
}

/* .dashboard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
} */

.dashboard div{
    height: 100px;
    width: 100%;
    border-radius: 10px;
}




